<!-- Navigation -->
<header class="p-3 text-bg-dark">
  
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ url_for('main.home') }}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="{{ url_for('admin.home') }}" class="nav-link px-2 text-secondary">Admin</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('admin.inscripciones') }}" class="nav-link px-2 text-secondary">Inscripciones</a></li>
            <li><a href="{{ url_for('admin.SQL_Form') }}" class="nav-link px-2 text-secondary">SQL Query</a></li>
          {% endif %}
        </ul>
  
        <div class="text-end">
          {% if current_user.is_authenticated %}
          <small class="me-4 text-info">{{ current_user.email.split('@')[0] }}</small>
          <a href="{{ url_for('admin.logout') }}"><button type="button" class="btn btn-danger me-2">Logout</button></a>
          {% else %}
            <a href="{{ url_for('admin.login') }}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          {% endif %}
            
        </div>
    </div>
  </div>
  </header>