<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Paris Nicolas">
    <!-- styles -->
     <!-- link rel="stylesheet" href="{% block css_url %}{% endblock %}" -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">  
    {% block css %}{% endblock %}
</head>
<body class="dark-bg" style="background-color: #111;">
    <header class="header">
        <!-- Navbar -->
        {% include "main/navigation.html" %}

        <!-- Contenido principal -->
        {% block content %}{% endblock %}
    </header>


    <!-- Bootstrap JS y jQuery (al final del body para mejorar carga) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- GSAP para animaciones -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>

    <script>
        // use a script tag or an external JS file
        document.addEventListener("DOMContentLoaded", (event) => {
            gsap.registerPlugin(ScrollTrigger)
            // gsap code here!
        });
    </script>
    {% block script %}{% endblock %}
</body>
</html>