{% extends "main/base.html" %} 
 
{% block title %} Home {% endblock %} 

{% block content %} 
    <!-- Contenido principal -->
    <div class="full-width-bg">
        <h1 class="animate__animated animate__rubberBand">Copa Renault</h1>
    </div>
    <!--div class="fade-gradient"></div-->
    
    
    <!-- Estadisticas -->
    <div class="d-flex justify-content-center text-center mt-5">
        <div class="bg-secondary-subtle rounded border border-secondary p-4">
            <h1 class="text-primary">50 años de tradicion</h1>
            <h1 class="text-info">Mas de 20 colegios invitados</h1>
            <h1 class="text-warning">Faltan {{ days_remaining }} dias!</h1>
        </div>
    </div>  
    
    
    <!-- Deportes -->
    <h1 id="inscripciones-title" class="text-info text-center">Inscripciones</h1>
    <div class="row text-center mt-5">
        <a class="col-md-4 img-link" href="{{ url_for('main.inscribirse', deporte='futbol')}}">
            <img src="{{ url_for('static', filename='img/soccer-ball-illustration-png.webp') }}" class="img-fluid select-img" alt="futbol">
            <h2>Futbol</h2>
        </a>
        <a class="col-md-4 img-link" href="{{ url_for('main.inscribirse', deporte='basket')}}">
            <img src="{{ url_for('static', filename='img/sport-ball-basketball-png.png') }}" class="img-fluid select-img" alt="futbol">
            <h2>Basket</h2>
        </a>
        <a class="col-md-4 img-link" href="{{ url_for('main.inscribirse', deporte='voley')}}">
            <img src="{{ url_for('static', filename='img/sport-ball-volleyball-free-png.png') }}" class="img-fluid select-img" alt="futbol">
            <h2>Voley</h2>
        </a>
    </div>

    <!-- Deportes -->
    {#
    <div class="d-flex justify-content-center text-center mt-5">
        <div class="card mr-5" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/futbol_portada.jpg') }}" class="card-img-top" alt="futbol">
            <div class="card-body">
            <h5 class="card-title">Futbol</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{ url_for('main.inscribirse', deporte='futbol')}}" class="btn btn-primary">Inscribirse</a>
            </div>
        </div>
        <div class="card mr-5" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/basket_portada.jpg') }}" class="card-img-top" alt="basket">
            <div class="card-body">
            <h5 class="card-title">Basket</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{ url_for('main.inscribirse', deporte='basket')}}" class="btn btn-primary">Inscribirse</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/voley_portada.jpg') }}" class="card-img-top" height="190"  alt="voley">
            <div class="card-body">
            <h5 class="card-title">Voley</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{ url_for('main.inscribirse', deporte='voley')}}" class="btn btn-primary">Inscribirse</a>
            </div>
        </div>
    </div>
    #}
    <div class="container mt-5">
        <!-- Sponsors -->
        <h1 id="sponsors-title" class="text-center text-success">Sponsors</h1>
        <div class="d-flex flex-column mt-5">
            {% for sponsor in sponsors %}
            {% if loop.index is even %}
            <div class="d-flex justify-content-end" data-aos="fade-left" style="height: 200px;">
                <a href="{{ sponsor['website_link'] }}" class="card card-link mb-3" style="max-width: 540px;">
                    <div class="row g-0 align-items-center" style="overflow: hidden;">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{ sponsor['title'] }}</h5>
                                <p class="card-text">{{ sponsor['description'] }}</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="col-md-6 position-relative"> 
                          <img src="{{ sponsor['image_link'] }}" class="rounded-start bottom-0" alt="..." style="height: 220px; width: 100%; object-fit: cover;">
                        </div>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="d-flex" data-aos="fade-right" style="height: 200px;">
                <a href="{{ sponsor['website_link'] }}" class="card card-link mb-3" style="max-width: 540px;">
                    <div class="row g-0 align-items-center " style="overflow: hidden;">
                        <div class="col-md-6 position-relative"> 
                          <img src="{{ sponsor['image_link'] }}" class="rounded-start" alt="..." style="height: 220px; width: 100%; object-fit: cover;">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{ sponsor['title'] }}</h5>
                                <p class="card-text">{{ sponsor['description'] }}</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        

        <div>
            <div class="d-flex justify-content-center text-center">
                <div class="m-2 p-4 border">
                    <h2 class="text-success">Comida</h2>
                    <div>
                        <img src="" alt="">
                        <ul>
                            <li>Choripan</li>
                        </ul>
                    </div>
                </div>
                <div class="m-2 p-4 border">
                    <h2 class="text-success">Bebidas</h2>
                </div>
                <div class="m-2 p-4 border">
                    <h2 class="text-success">Postre</h2>
                </div>
            </div>
        </div>

    </div>
    
        <hr>
        <h1 class="text-center">Proximamente...</h1>
        <p class="text-center">Menu y contacto</p>
        <br>
{% endblock %} 

{% block script %}
<script>
    $(window).scroll(function() {
        var scrollDistance = $(window).scrollTop();

        // Altura de transición de tema (20vh desde abajo)
        var fadeStart = $(window).height() - 200;

        if (scrollDistance >= fadeStart) {
            // Cambiar a tema oscuro
            $('nav').removeClass('navbar-light bg-light').addClass('navbar-dark bg-dark');
            $('.fade-gradient').css('opacity', '0');
        } else {
            // Cambiar a tema claro
            $('nav').removeClass('navbar-dark bg-dark').addClass('navbar-light bg-light');
            $('.fade-gradient').css('opacity', '1');
        }


        const textElement = document.getElementById('inscripciones-title');
        const rect = textElement.getBoundingClientRect();
        const isVisible = rect.top < window.innerHeight && rect.bottom >= 0;

        if (isVisible) {
            textElement.classList.add('enlarged');
        } else {
            textElement.classList.remove('enlarged');
        }
    });
</script>
{% endblock %}

{% block css %}
<style>
.card-link {
    text-decoration: none;
    color: inherit;
}
.card-link:hover {
    text-decoration: none;
    color: inherit;
}

.img-link {
    text-decoration: none;
    color: rgb(207, 194, 7);
}

.img-link:hover {
    border-radius: 10px;
    background-color: rgb(37, 36, 36);
    color: rgb(207, 194, 7);
    text-decoration: none;
    scale: 1.1;
    transition-duration: 50ms;
    cursor: pointer;
}

#inscripciones-title {
    font-size: 40px;
    transition: font-size 0.5s ease;
    margin-top: 100px;
}
#inscripciones-title.enlarged {
    font-size: 60px;
}

#sponsors-title{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
}

.select-img{
    height: 25vh;
}

    /* Estilo para el fondo de la sección con imagen */
.full-width-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("{{ url_for('static', filename='img/basket_wallpaper_gradient.png') }}"); /* Ruta de tu imagen */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    opacity: 0.7; /* Opacidad del fondo */
}

/* Estilo para el gradiente de desvanecimiento */
.fade-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh; /* Altura del gradiente de desvanecimiento */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    pointer-events: none; /* Para que no bloquee los elementos detrás */
    z-index: 1; /* Asegura que esté sobre el fondo */
}

/* Estilo oscuro para el navbar */
.navbar-dark {
    background-color: #212529b4 !important;
    transition: background-color 0.5s ease-out; /* Transición suave */
}

.navbar-light {
    background-color: #f8f9fab4 !important;
    transition: background-color 0.5s ease-out; /* Transición suave */
}

/* Estilo oscuro para el contenido */
.dark-bg {
    background-color: #111; /* Color de fondo oscuro */
    /* transition: background-color 0.5s ease-out;  Transición suave */
}

/* Estilo para reducir el tamaño del logo */
.navbar-brand img {
    max-height: 40px; /* Tamaño máximo del logo */
}

</style>
{% endblock %}