{% extends "main/base.html" %} 
        
{% block title %} Inscribirse {% endblock %} 

{% block content %} 
<br>
<br>
<div class="container my-5 ">
    <div class="container mt-5 p-3 bg-info rounded">
        <h1 class="text-warning text-center mb-5">Inscribe un equipo</h1>
        <form method="POST">
            {#Flashed Messages, enviados desde el backend#}
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {#FORMULARIO#}
            <div class="mb-3 row">
                {#colegio#}
                <div class="col-6 form-group">
                    {{ form.colegio.label(class="form-label") }}
                    {{ form.colegio(class="form-control", placeholder="Nombre del colegio") }}
                    {% for error in form.colegio.errors %}
                    <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                {#Deporte#}
                <div class="col-6">
                    {{ form.deporte.label(class="form-label") }}
                    <div>
                        <div class="d-inline radio-img-div pr-2">
                            <img id="futbol" class="radio-img {% if deporte == 'futbol' %}selected-radio{% endif %}" src="{{ url_for('static', filename='img/soccer-ball-illustration-png.webp') }}" alt="futbol">
                        </div>
                        <div class="d-inline radio-img-div pr-2">
                            <img id="basket" class="radio-img {% if deporte == 'basket' %}selected-radio{% endif %}" src="{{ url_for('static', filename='img/sport-ball-basketball-png.png') }}" alt="basket">
                        </div>
                        <div class="d-inline radio-img-div">
                            <img id="voley" class="radio-img mr-2 {% if deporte == 'voley' %}selected-radio{% endif %}" src="{{ url_for('static', filename='img/sport-ball-volleyball-free-png.png') }}" alt="voley">
                        </div>
                        
                        {{ form.deporte(class="d-none") }}
                    </div>
                    {% for error in form.deporte.errors %}
                    <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <hr>

            {#ENCARGADO#}
            <h3 class="mb-3">Encargado <span class="text-danger">*</span></h3>
            <div class="row mb-3">
                <div class="col">
                    {{ form.encargado(class="form-control", placeholder="Nombre") }}
                    {% for error in form.encargado.errors %}
                    <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ form.telefono(class="form-control", placeholder="Telefono") }}
                    {% for error in form.telefono.errors %}
                    <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <hr>

            {#Nombre del equipo (opcional)#}
            <div class="mb-3">
                {{ form.nombre_equipo.label(class="form-label") }}
                {{ form.nombre_equipo(class="form-control") }}
                {% for error in form.nombre_equipo.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>

            {#INTEGRANTES#}
            <table class="table table-striped table-dark table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Email</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Celiaco/vegano</th>
                    </tr>
                </thead>
                <tbody>
                    {% for integrante in form.integrantes %}
                    <tr>
                        <td width="20" scope="row">{{ loop.index }}</td>
                        <td contenteditable="true" oninput="updateField(this, '{{ integrante.nombre.name }}')"  class="{% if integrante.nombre.errors %}has-error{% endif %}"></td>
                        <td contenteditable="true" oninput="updateField(this, '{{ integrante.telefono.name }}')"  class="{% if integrante.telefono.errors %}has-error{% endif %}"></td>
                        <td contenteditable="true" oninput="updateField(this, '{{ integrante.email.name }}')"  class="{% if integrante.email.errors %}has-error{% endif %}"></td>
                        <td contenteditable="true" oninput="updateField(this, '{{ integrante.dni.name }}')"  class="{% if integrante.dni.errors %}has-error{% endif %}"></td>
                        <td width="220">
                            <div class="form-check form-check-inline {% if integrante.celiaco.errors %}has-error{% endif %}">
                                {{ integrante.celiaco(class="form-check-input") }} {{ integrante.celiaco.label(class="form-check-label") }} 
                            </div>
                            <div class="form-check form-check-inline {% if integrante.vegano.errors %}has-error{% endif %}">
                                {{ integrante.vegano(class="form-check-input") }} {{ integrante.vegano.label(class="form-check-label") }} 
                            </div>
                        </td>
                    </tr>
                    {{ integrante.nombre(class="form-control d-none") }}
                    {{ integrante.telefono(class="form-control d-none") }}
                    {{ integrante.email(class="form-control d-none") }}
                    {{ integrante.dni(class="form-control d-none") }}
                    {% for error in integrante.nombre.errors %}
                        <tr><td colspan="4" class="error-message">{{ error }}</td></tr>
                    {% endfor %}
                    {% for error in integrante.telefono.errors %}
                        <tr><td colspan="4" class="error-message">{{ error }}</td></tr>
                    {% endfor %}
                    {% for error in integrante.email.errors %}
                        <tr><td colspan="4" class="error-message">{{ error }}</td></tr>
                    {% endfor %}
                    {% for error in integrante.dni.errors %}
                        <tr><td colspan="4" class="error-message">{{ error }}</td></tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

            {#Recaptcha y Submit#}
            <div class="form-group">
                {{ form.recaptcha }}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
    </div>
</div>
{% endblock %} 

{% block script %}
<script>
    const images = document.querySelectorAll('.radio-img');
    const ul = document.getElementById('deporte');
    const inputs = Array.from(ul.getElementsByTagName('input'));

    images.forEach(image => {
        image.addEventListener('click', function() {
            // Remover la clase 'selected' de todas las imágenes
            images.forEach(img => img.classList.remove('selected-radio'));

            // Añadir la clase 'selected' a la imagen que se hizo clic
            this.classList.add('selected-radio');


            inputs.forEach(radio => {
                if (radio.value == this.id) {
                    console.log(radio.value)
                    radio.checked = true;
                }
            });
        });
    });

    function updateField(editable, fieldName) {
        let field = document.getElementsByName(fieldName)[0];
        field.value = editable.innerText;
    }

    function validateForm() {
        let table = document.querySelector("table tbody");
        let rows = table.querySelectorAll("tr");
        let valid = false;

        rows.forEach(row => {
            let cells = row.querySelectorAll("td");
            cells.forEach(cell => {
                if (cell.textContent.trim() !== "") {
                    valid = true;
                }
            });
        });

        if (!valid) {
            alert("Por favor, complete la tabla antes de enviar.");
        }
    }
</script>

{% endblock %}

{% block css %}
<style>

    .radio-img{
        height: 45px;
    }

    .radio-img-div:hover {
        cursor: pointer;
    }

    .selected-radio{
        height: 50px;
        border-radius: 50%;
        border: 2px dotted blue
    }

    [contenteditable] {
        border: 1px solid transparent;
        padding: 5px;
    }
    [contenteditable]:focus {
        outline: none;
        border: 1px solid #ccc;
    }
    .has-error {
        border-color: #dc3545;
    }
    .error-message {
        color: #dc3545;
    }
</style>
{% endblock %}